.advantages__icon-bcg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}




.advantages__list {
    display: flex;
}

.advantages__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    &:nth-child(4n) {
        margin-right: 0;
    }
}



.advantages__title {
    margin-bottom: 10px;
    @include font (14px, 700, 1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color-teme-light);

}

.advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}