.hero__btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--primari-text-color-teme-dark);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--color-btn-active);
    }
}