.mobile-nav__link {
    display: block;

    font-size: 40px;
    line-height: 1.17;
    color: var(--secondary-text-color-teme-light);
    margin-bottom: 32px;

    &:nth-child(3n) {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mobile-nav .mobile-nav__link.mobile-nav__link--current {
    color: var(--accent-color);
}