.page-nav__list {
       display: none;
}

@media screen and (min-width: 768px) {
       .page-nav {
              display: flex;
              align-items: center;
              margin-left: auto;
              margin-right: auto;
       }

       .page-nav__list {
              display: flex;
              align-items: center;
              column-gap: 50px;
              font-weight: 500;
              font-size: 14px;
              line-height: 1.14;
              letter-spacing: 0.02em;

       }

       .page-nav__link {
              position: relative;
              color: var(--secondary-text-color-teme-light);
              transition: color var(--transition-dur-and-func);
              padding-top: 32px;
              padding-bottom: 32px;

              &:hover,
              &:focus {
                     color: var(--accent-color);
              }
       }




       .page-nav__list .item.page-nav__link--current {
              color: var(--accent-color);
       }

       .page-nav__link--current::after {
              content: '';
              position: absolute;
              display: block;
              width: 100%;
              height: 4px;
              border-radius: 2px;
              background-color: var(--accent-color);
              bottom: -2px;

       }
}


       // .page-nav {
       //     display: flex;
       //     align-items: center;

       // }

       // .page-nav__list {
       //     @extend %font;
       //     display: flex;
       //     align-items: center;
       //     column-gap: 50px;
       // }

       // .page-nav__link {
       //     position: relative;
       //     color: var(--secondary-text-color-teme-light);
       //     transition: color var(--transition-dur-and-func);
       //     @extend %padding;

       //     &:hover,
       //     &:focus {
       //         color: var(--accent-color);
       //     }
       // }




       // .page-nav__list .item.page-nav__link--current {
       //     color: var(--accent-color);
       // }

       // .page-nav__link--current::after {
       //     content: '';
       //     position: absolute;
       //     display: block;
       //     width: 100%;
       //     height: 4px;
       //     border-radius: 2px;
       //     background-color: var(--accent-color);
       //     bottom: -8px;

       // }