:root {
    --accent-color: #2196F3;
    --primari-text-color-teme-dark: #ffffff;
    --secondary-text-color-teme-dark: rgba(255, 255, 255, 0.6);
    --primari-text-color-teme-light: #757575;
    --secondary-text-color-teme-light: #212121;
    --fon-teme-dark: #2F303A;
    --fon-teme-light: #F5F5F5;
    --color-logo-header: #000;
    --color-logo-footer: #fff;
    --color-btn-active: #188CE8;
    --color-btn: #F5F4FA;
    --color-boody: #ffffff;
    --normal-font-weding: font-weight: 400;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
$letter-spacing: 0.03em;